<div class="container-fluid">
  <div class="bg-white w-100 h-100 border p-4 ">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 p-3 mx-auto">
      <div class=" card mx-auto">
        <img [src]="usuarioDetail.avatar" class="card-img-top p-2" alt="...">
        <div class="card-body text-center">
          <h4 class="card-title">{{usuarioDetail.login}}</h4>
          <p class="card-text"><strong>Seguidores</strong></p>
          <p><a class="link-body-emphasis link-offset-2 link-underline-opacity-0" (click)="navigateToFollowers(usuarioDetail.login)">{{usuarioDetail.followers | followers}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
